img{
	width: 30px;
}

/*
header{
	background-color: green;
	color : white;
}
#container{
	
	background-color: lightgrey;
}
footer
{
	height: 3em;
	background-color: green;
	color : white;
}

#psw{
	width: 7.4em !important;
	margin-left: 1em;
}
#email{
	width: 13em ;
}
#story{
	width: 18.8em ;
}story

*/